<div *ngIf="!country; else divCountry"
    class="alert alert-info">
    Espere por favor...
</div>

<ng-template #divCountry>
    <div class="row">
        <div class="col-12">
            <h1>País: <small>{{country.translations.es}}</small></h1>
        </div>
    </div>
    <div class="row">
        <div class="col-4">
            <h3>Bandera</h3>
            <img [src]="country.flag" class="img-thumbnail">
        </div>
        <div class="col-4">
            <ul class="list-group">
                <li class="list-group-item">
                    <strong>Población</strong> {{ country.population | number }}
                    <strong>Código numérico</strong> {{ country.numericCode | number }}
                    <strong>Código Alpha3</strong> {{ country.alpha3Code }}
                </li>
            </ul>
        </div>
    </div>

    <h3>Traducciones</h3>
    <div class="row">
        <div class="col">
            <span class="badge bg-primary mr-1">{{ country.translations.de }}</span>
            <span class="badge bg-primary mr-1">{{ country.translations.es }}</span>
            <span class="badge bg-primary mr-1">{{ country.translations.fr }}</span>
            <span class="badge bg-primary mr-1">{{ country.translations.ja }}</span>
            <span class="badge bg-primary mr-1">{{ country.translations.it }}</span>
            <span class="badge bg-primary mr-1">{{ country.translations.br }}</span>
            <span class="badge bg-primary mr-1">{{ country.translations.pt }}</span>
            <span class="badge bg-primary mr-1">{{ country.translations.nl }}</span>
            <span class="badge bg-primary mr-1">{{ country.translations.hr }}</span>
            <span class="badge bg-primary mr-1">{{ country.translations.fa }}</span>

        </div>
    </div>


    <!-- <pre class="mt-5">
        {{ country | json }}
    </pre> -->
</ng-template>