<table class="table table-hover">
    <thead>
        <tr>
            <th>#</th>
            <th>Bandera</th>
            <th>Nombre</th>
            <th>Población</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let country of countries; let i = index" class="animate__animated animate__fadeIn animate__faster">
            <td>{{i+1}}</td>
            <td>
                <img [src]="country.flag" class="small-flag" alt="{{country.name}}">
            </td>
            <td>{{country.translations.es}} / {{country.capital}}</td>
            <td class="text-right">{{country.population | number}}</td>
            <td>
                <a [routerLink]="[ '/pais/', country.alpha2Code ]">Ver...</a>
            </td>
        </tr>
    </tbody>
</table>